[Unit]
Description=Run Docker Server
Documentation=https://docs.docker.com
Wants=network-online.target
After=network.target

[Service]
Type=notify
ExecStartPre=/sbin/modprobe xt_nat
ExecStart=/usr/bin/dockerd
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
Alias=docker.service

