[Unit]
Description=Run Docker Server
Documentation=https://docs.docker.com
Wants=network-online.target
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/dockerd
ExecStartPost=/sbin/ifconfig -a docker0 172.17.0.1 netmask 255.255.0.0 up
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
Alias=docker.service

