[Unit]
Description=Hello World

[Service]
ExecStart=/usr/bin/helloworld
Type=simple
KillMode=process
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
